{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="../static/css/podcast.css" />

<body class="mt-40 ">
    {% include "navbar.html" %}

    <div class="flex flex-col justify-center items-center">
            <p class="text-6xl font-bold underline mb-14 text-center" style="overflow-y: hidden;">Our Growing Team</p>

            <div class="flex flex-col justify-center items-center mb-14">
                <p class="text-3xl font-bold underline">Admin Team</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Timothy Hu</div>
                            <p class="text-gray-700 text-center">
                                Founding Member
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Jiarong Zhang</div>
                            <p class="text-gray-700 text-center">
                                Founding Member
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Alex Chen</div>
                            <p class="text-gray-700 text-center">
                                Founding Member
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">California Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Henry Zhao</div>
                            <p class="text-gray-700 text-center">
                                California Branch Head
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Rudro Lahiri</div>
                            <p class="text-gray-700 text-center">
                                California Branch Mentor
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Wade Chang</div>
                            <p class="text-gray-700 text-center">
                                California Branch Mentor
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Chloe Yong</div>
                            <p class="text-gray-700 text-center">
                                California Branch Helper
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Florida Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Patrick Frigo</div>
                            <p class="text-gray-700 text-center">
                                Florida Branch Lead
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Alvin Lester</div>
                            <p class="text-gray-700 text-center">
                                Florida Branch Mentor 
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Jason Lynn</div>
                            <p class="text-gray-700 text-center">
                                Florida Branch Mentor 
                            </p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">New York Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Ryan Rubin</div>
                            <p class="text-gray-700 text-center">
                                New York Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Washington Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Chester Briggs</div>
                            <p class="text-gray-700 text-center">
                                 Washington Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Massachusetts Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Eric Wang</div>
                            <p class="text-gray-700 text-center">
                                Massachusetts Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Pennsylvania Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Xavier Cohen</div>
                            <p class="text-gray-700 text-center">
                                Pennsylvania Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Virginia Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Matthew Marcus</div>
                            <p class="text-gray-700 text-center">
                                Virginia Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Georgia Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Kusha Patel</div>
                            <p class="text-gray-700 text-center">
                                Georgia Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Texas Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Max Wang</div>
                            <p class="text-gray-700 text-center">
                                Texas Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Maine Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Cindy Liu</div>
                            <p class="text-gray-700 text-center">
                                Maine Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            




            <p class="text-5xl mt-24 mb-24 underline font-bold" style="overflow-y: hidden;">International Branches</p>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">China Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Andy Liu </div>
                            <p class="text-gray-700 text-center">
                                China Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Taiwan Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Jaden Ying</div>
                            <p class="text-gray-700 text-center">
                                Taiwan Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">France Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Alex Luguv</div>
                            <p class="text-gray-700 text-center">
                                France Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Spain Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Santiago Garcia</div>
                            <p class="text-gray-700 text-center">
                                Spain Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">UK Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Daniel Taylor</div>
                            <p class="text-gray-700 text-center">
                                Britain Branch Lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center">
                <p class="text-3xl font-bold underline">Canada Branch</p>

                <div class="flex flex-wrap justify-center items-center">
                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Joey Luo</div>
                            <p class="text-gray-700 text-center">
                                Canada Branch Lead
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Justin Wang</div>
                            <p class="text-gray-700 text-center">
                                Canada Branch Helper
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: white;">
                        <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/temp.png" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2 text-center">Andy Huang Song</div>
                            <p class="text-gray-700 text-center">
                                Canada Branch Helper
                            </p>
                        </div>
                    </div>
                </div>
            
            </div>




    </div>

    <script type="text/javascript">

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active")
            navigation.classList.toggle("active")
        });
    </script>
    <script src="../static/js/podcast.js"></script>
</body>

{% endblock %}