<header class="flex flex-row justify-center items-center">

    <!-- <div class="flex flex-row justify-center items-center">
        <div class="flex flex-row ">
        </div>
    </div> -->

    <div class="w-full flex flex-row justify-between items-center pl-24" style="max-width: 80em;">
        <a class="brand ml-10" href="/">ENJAID </a>

        <div class="menu-btn"></div>

        <div class="navigation mt-10" style="overflow-y: hidden;">
            <div class="navigation-items mt-10" style="overflow-y: hidden;">
                <a href="/">Home</a>
                <a href="/programs">Programs</a>
                <a href="/about">Branches</a>
                <a href="/" class="mr-10">Resources</a>
                <button class="ml-10 home-button">Contact Us</button>
            </div>
        </div>
    </div>



</header>