{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="../static/css/podcast.css" />

<body class="mt-40 ">
    {% include "navbar.html" %}

    <div class="flex flex-col justify-center items-center ">
        <div class="flex flex-col sm:flex-row justify-center  items-center w-3/4 mb-20">
            <p class="text-4xl w-1/2 font-bold text-center sm:mr-12 mb-12 sm:mb-0 " style="overflow-y: hidden; max-width: 500px;">Join Our Programs to Learn the Right Way.</p>
            <img src="../static/img/teaching.JPG" class="mb-12 sm:mb-0" style="border: 2px solid black; width:250px;" alt="">
            <img src="../static/img/teaching2.JPG" style="border: 2px solid black; width:250px;" alt="">
        </div>


        <div class="flex flex-col justify-center items-center w-full mb-20" style="background-color: #EDF3F0;">
            <p class="text-5xl mb-14 mt-8 underline" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">What We Offer</p>
            <div class="flex flex-col lg:flex-row justify-center items-center w-1/2 mb-20">
                <div class="flex flex-col justify-center items-center lg:mr-10 mb-4">
                    <p class="text-3xl font-bold text-center mb-10 underline" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Robotics Mentorship</p>
                    <p class="text-center mb-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; max-width: 400px;">Sign up to become a student in our mentorship program. We cater to dozens of students around the country so join to learn and creatre your own robots. </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctLoHxtLASRUDH4o6JzHjUijMBQucoOt7GGD7XdzCWCpDUUQ/viewform?usp=sf_link"><button class="home-button" style="width: 150px;">Sign Up</button></a>
                </div>

                <img src="../static/img/robotics.jpg" style="width: 330px; border: 1px solid black;" alt="">
            </div>

            <div class="flex flex-col-reverse lg:flex-row justify-center items-center w-1/2 mb-20">

                <img src="../static/img/teacher.jpg" style="width: 330px; border: 1px solid black;" alt="">


                <div class="flex flex-col justify-center items-center lg:ml-10 mb-4">
                    <p class="text-3xl font-bold text-center mb-10 underline" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Teacher Fellowship</p>
                    <p class="text-center mb-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; max-width: 400px;">Sign up to become one of our teachers in our program and teach students from all around the country. We connect students so you don't have to.</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsbF7HP0Wy1HXNAbOj-hIA9em6AplRGreUq9cM_K7IaZtCeA/viewform?usp=sf_link"><button class="home-button" style="width: 150px;">Sign Up</button></a>
                </div>

            </div>

            <div class="flex flex-col lg:flex-row justify-center items-center w-1/2 mb-20">
                <div class="flex flex-col justify-center items-center lg:mr-10 mb-4">
                    <p class="text-3xl font-bold text-center mb-10 underline" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Editorial Writer</p>
                    <p class="text-center mb-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; max-width: 400px;">Sign up to write engineering editorials and materials to help students around the country utilize the resources necessary to understand engineering principles. </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYaDbnF_3fb3yDZ6gsGVi0YKM-VvyJTMb1Ctz89iI_N1VlGg/viewform?usp=sf_link"><button class="home-button" style="width: 150px;">Sign Up</button></a>
                </div>

                <img src="../static/img/writer.jpg" style="width: 330px; border: 1px solid black;" alt="">
            </div>
            
        </div>

        <div class="flex flex-col justify-center items-center">
            <p class="text-5xl font-bold underline mb-10 text-center" style="overflow-y: hidden;">How We Have Helped</p>
            <div class="flex flex-row justify-center items-center">
                <img src="../static/img/helping/img1.jpg" style="max-height: 400px;" alt="">
                <img src="../static/img/helping/img2.jpg" style="max-height: 400px;" lt="">
            </div>
            <div class="flex flex-row justify-center items-center">
                <img src="../static/img/helping/img3.jpg" style="max-height: 400px;" alt="">
                <img src="../static/img/helping/img4.jpg" style="max-height: 400px;" lt="">
            </div>
            <div class="flex flex-row justify-center items-center">
                <img src="../static/img/helping/img5.jpg" style="max-height: 400px;" alt="">
                <img src="../static/img/helping/img6.jpg" style="max-height: 400px;" lt="">
            </div>
        </div>


    </div>

    <script type="text/javascript">

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active")
            navigation.classList.toggle("active")
        });
    </script>
    <script src="../static/js/podcast.js"></script>
</body>

{% endblock %}